@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

body {
  background-color: #a1cae2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.busArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background-color: #a1cae2;
  border-radius: 30px;
  padding: 2rem;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.nextBus {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3 {
  color: white;
}

input {
  margin: .5rem 0;
  padding: 12px 6px;
  font-size: 14pt;
  border: none;
  border-radius: 5px;
  background-color: #83a8bd;
  cursor: pointer;
  color: white;
}

button {
  padding: 12px 6px;
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: #c2b092;
  font-size: 14pt;
  color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: #cfc5a5;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.areaSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
}

select {
  width: 100%;
  padding: 12px 6px;
  border-radius: 5px;
  border: none;
  font-size: 13pt;
}

option {
  transition: .3s ease;
  background-color: white;
}

option:hover {
  background-color: grey;
}